.App {
  text-align: center;
}

.calcBasic {
  display: flex;
}

.calcInput {
  border: solid;
}

.calcRow {
  display: flex;
  /* justify-content: space-around; */
}

.numbers {
  border: solid;
  /* padding: 20px; */
  margin: 0 auto;
}

.signs {
  border: solid;
  margin: 0 auto;
}